<mat-toolbar *ngIf="onUploading" class="progress-bar">
    <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
    <span class="progress">{{ progress }}%</span>
  </mat-toolbar>
  <mat-toolbar class="upload-toolbar">

    <input hidden type="file" #fileInput (change)="uploadFileEvt($event)" name="uploadFile" multiple="multiple"
      accept="image/*,.doc,.docx,.pdf" />

    <p (click)="fileInput.click()">{{fileAttr}}</p>

    <div class="buttons">
      <button (click)="fileInput.click()" mat-icon-button color="primary">
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button *ngIf="onUploading" (click)="cancel()" mat-icon-button color="warn">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </mat-toolbar>